<p>this is edit page <%=title %></p>
<form method="post" action="/edit">
    <input type="text" name="name">
    <input type="hidden" name="id" value="<%=id %>">
    <input type="submit" value="Submit">
</form>